pandas~=3.0.2
nltk~=3.9.4
gensim~=4.4.0
matplotlib~=3.10.9
colorama~=0.4.6
numpy~=2.4.4
emoji~=2.15.0
contractions~=0.1.73
scikit-learn~=1.8.0
imblearn~=0.0
imbalanced-learn~=0.14.1
tqdm~=4.67.3
requests~=2.33.1